/MundoPc/build/
/Pruebas/nbproject/private/
/Pruebas/build/
/ManejoArchivos/nbproject/private/
/ManejoArchivos/build/
/CatalogoPeliculas/nbproject/private/
/CatalogoPeliculas/build/
/FundamentosJava/MundoPc/build/

/.idea/ 
/.project/
/.settings/
/target/
/bin/
/.metadata/